.m_container{
    margin-top: 0;
    background-color: #404040;
    display: block;
    overflow: hidden;
    display: block;
}
.m_content{
    margin: 70px 100px 70px 100px;
    display: block;
    overflow: hidden;
}
.m_content img{
    width: 30%;
    float: left;
    display: block;
    overflow: hidden;
}
.movie_info{
    width: 65%;
    margin-left: 50px;
    display: block;
    float: left;
}

.title{
    width: 100%;
    color: white;
    font-size: 40px;
    float: left;
    display: block;
    overflow: hidden;
}

.title a{
    width: 85px;
    height: 30px;
    padding-top: 6px;
    border-radius: 2px;
    float: right;
    text-align: center;
    font-size: 13px;
    color: white;
    background-color: #e8336c;
    margin-top: 15px;
    text-decoration: none;
}
.title a:hover{
    background-color: white;
    border: 1px solid #e8336c;
    color: #e8336c;
}

.border_line{
    width:100%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
    float: left;
    display: block;
}
.year_time{
    width:100%;
    color: white;
    font-size: 13px;
    padding-top: 5px;
    float: left;
    display: block;
}
.m_synopsis{
    color: white;
    width:45%;
    font-size: 15px;
    line-height: 23px;
    padding-top: 5px;
    float: left;
    display: block;
}
.video{
    width:50%;
    margin-top: 10px;
    margin-right: 0;
    float: right;
    display: block;
}
@media screen and (max-width: 600px) {
    .movie_info{
        width: 100%;
        margin-top: 60px;

    }
  }
